DeepZoomTools @ git+https://github.com/openzoom/deepzoom.py
Pillow~=9.1
fastai~=2.7
marugoto @ git+https://github.com/katherlab/marugoto
matplotlib~=3.6
openslide-python~=1.2
paramiko~=2.12
pyzstd~=0.15
torchvision~=0.14
torch~=1.12
tqdm~=4.63
