DeepZoomTools @ git+https://github.com/openzoom/deepzoom.py@dafac125bd8e7ce712abe28c85acdda91f548aeb
fastai~=2.7
marugoto @ git+https://github.com/KatherLab/marugoto@e05ab1a372d82acbe0db2226c9a2bff7416be83a
matplotlib~=3.8
openslide-python~=1.3
paramiko~=3.4
Pillow~=9.5
pyzstd~=0.15.9
torch~=2.1
torchvision~=0.16
tqdm~=4.66
