marugoto @ git+https://github.com/katherlab/marugoto@111d930c37e72c80645b80a60f5024bf3293fd5d
fastai~=2.7
matplotlib~=3.6
openslide-python~=1.2
paramiko~=2.12
Pillow~=9.1
pyzstd~=0.15
torch~=1.12
torchvision~=0.14
tqdm~=4.63
